<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field appearance="outline">
    <mat-label>Prénom</mat-label>
    <mat-icon matPrefix>person</mat-icon>
    <input matInput formControlName="firstName" />
    <mat-error *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched">
      Prénom invalide
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <mat-icon matPrefix>person</mat-icon>
    <input matInput formControlName="lastName" />
    <mat-error *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched">
      Nom invalide
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <mat-icon matPrefix>email</mat-icon>
    <input matInput type="email" formControlName="email" />
    <mat-error *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
      Email invalide
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date de naissance</mat-label>
    <mat-icon matPrefix>cake</mat-icon>
    <input matInput type="date" formControlName="birthDate" />
    <mat-error *ngIf="registrationForm.get('birthDate')?.hasError('ageInvalid')">
      Vous devez avoir au moins 18 ans.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ville</mat-label>
    <mat-icon matPrefix>location_city</mat-icon>
    <input matInput formControlName="city" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Code postal</mat-label>
    <mat-icon matPrefix>location_on</mat-icon>
    <input matInput formControlName="postalCode" />
    <mat-error *ngIf="registrationForm.get('postalCode')?.invalid && registrationForm.get('postalCode')?.touched">
      Code postal invalide
    </mat-error>
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button color="primary" type="submit" [disabled]="!registrationForm.valid">Enregistrer</button>
    <button mat-stroked-button color="warn" type="button" (click)="registrationForm.reset()">Réinitialiser</button>
  </div>
</form>

<div *ngIf="registeredUsers.length > 0" class="user-list">
  <h2>Utilisateurs enregistrés <mat-badge [content]="registeredUsers.length" color="accent"></mat-badge></h2>
  <mat-divider></mat-divider>
  <ul>
    <li *ngFor="let user of registeredUsers">
      <mat-icon>person</mat-icon> {{ user.firstName }} {{ user.lastName }} - {{ user.email }}
    </li>
  </ul>
</div>
